.blog-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: $extraLightGrey;

  h1 {
    padding: 16px;
    text-transform: uppercase;
  }

  > img {
    width: 100%;
    height: 180px;
    padding: 0 8px;
    object-fit: cover;
  }

  > div {
    padding: 16px;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1050px) {
  .blog-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $extraLightGrey;

    h1 {
      padding: 32px;
      text-transform: uppercase;
    }

    > img {
      height: 240px;
      padding: 0 16px;
    }

    > div {
      padding: 32px;
    }
  }
}
