.home-blog {
  width: 100%;
  padding: 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate3d(0, -180px, 0);
  }
}

.home-blog-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .home-blog-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
