.home-imprensa {
  width: 100%;
  padding: 64px 0;
  background-color: $blue;

  .container {
    .title {
      color: #fff;

      &::before {
        border-color: #fff;
      }
    }

    > p {
      max-width: 440px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
    }

    .see-more.white {
      background-color: $black;
    }
  }
}

.home-imprensa-wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .home-imprensa-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1050px) {
  .home-imprensa {
    padding: 128px 0;
  }
}
