.fadeUp {
  transform: translate3d(0, 30px, 0);
  opacity: 0;

  &.animar {
    animation: reset 1s ease-out forwards;
  }
}

.fadeDown {
  transform: translate3d(0, -30px, 0);
  opacity: 0;

  &.animar {
    animation: reset 1s ease-out forwards;
  }
}

.fadeLeft {
  transform: translate3d(30px, 0, 0);
  opacity: 0;

  &.animar {
    animation: reset 1s ease-out forwards;
  }
}

.fadeRight {
  transform: translate3d(-30px, 0, 0);
  opacity: 0;

  &.animar {
    animation: reset 1s ease-out forwards;
  }
}

@keyframes reset {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1) rotate(0);
    visibility: visible;
  }
}
