* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

@import './scss/header/header';
@import './scss/footer/footer';
@import './animation';
