.urorobotica {
  width: 100%;
  padding: 64px 0;
}

.urorobotica-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  img {
    width: 100%;
  }
}

.urorobotica-marque {
  width: 100%;
  padding: 64px 0;

  .container {
    background-color: $lightGrey;
  }

  img {
    width: 100%;
  }
}

.urorobotica-marque-txt {
  padding: 32px;
}
