.form {
  width: 100%;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    input:not([type='submit']),
    textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      padding: 8px;
      background-color: transparent;
      border: 1px solid $mediumBlue;
      color: #fff;

      &::placeholder {
        color: #ffffffbb;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    .wpcf7-checkbox label {
      display: flex;
      align-items: center;

      input {
        width: auto;
        max-width: unset;
        min-width: unset;
        margin-right: 12px;
      }

      span {
        color: #fff;
        font-size: 12px;
      }
    }

    textarea {
      height: 48px;
    }

    input[type='submit'] {
      align-self: flex-start;
      padding: 8px 32px;
      background-color: $mediumBlue;
      border: 1px solid $mediumBlue;
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 768px) {
  .form {
    margin-bottom: 32px;

    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      textarea {
        grid-column: 1 / 3;
      }

      input[type='submit'] {
        justify-self: flex-start;
      }
    }
  }
}

@media screen and (min-width: 1050px) {
  .form {
    margin-bottom: 0;
  }
}
